<ion-header>
    <ion-navbar color="white">
        <button ion-button menuToggle="page-menu" color="primary">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="text-align: center;">
            <ion-label color="primary">{{ 'schedule' | translate }}</ion-label>
        </ion-title>
        <ion-buttons end>
            <button ion-button color="primary" (click)="openUserMenu()">
                <img src="../../../assets/imgs/me@3x.png" height="18" />
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-tabs style="background-color:#FFFFFF;" tabsPlacement="top" mode="md" tabsHighlight="true" *ngIf="children">
        <ion-tab *ngFor="let child of children" [root]="schedulePage" [rootParams]="child.schedule" tabTitle="{{ child.name }}" tabIcon="chat"></ion-tab>
    </ion-tabs>
</ion-content>